<div class="col-lg-9">
    <h1>New Admin Project</h1>

    <%= render 'form', admin_project: @admin_project %>
    
    <br><%= link_to 'Back', admin_projects_path, class: "btn btn-primary" %>
</div>

